.chat-username-color-picker {
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-height: 70vh !important;
  max-width: 360px !important;
  width: fit-content;
  overflow-y: auto;
  scrollbar-width: none;
  background: #1e1e1e;
  border: 1px solid #333 !important;
  padding: 1em;
  border-radius: 0.4em !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 1100;

  h2 {
    font-size: 1.2em !important;
    margin: 0 !important;
    text-align: center !important;
    color: #ffa500 !important;
    border-bottom: 1px dashed #444 !important;
    padding-bottom: 0.6em !important;
  }

  // Blocks for saved and generated colors
  .saved-username-colors,
  .generated-username-colors {
    margin-top: 1em;

    h3 {
      font-size: 1em !important;
      margin: 0.5em 0 !important;
      text-align: center !important;
      color: #00ff58 !important;
      border-bottom: 1px dashed #444 !important;
      padding-bottom: 0.3em !important;
    }
  }

  // Styling for generated entries when disabled.
  .generated-username-colors .username-entry.disabled-entry {
    pointer-events: none;
    opacity: 0.2;
  }

  .username-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.3em;
    border-bottom: 1px dashed #444 !important;

    &:last-child {
      border-bottom: none;
    }

    .user-label {
      flex: 1;
    }

    .color-box {
      border-radius: 0.2em !important;
      margin-left: 1em;
      padding: 0.6em;
      font-size: 0.8em;
      font-family: monospace;
    }

    input[type="color"] {
      display: none !important;
    }
  }

  .remove-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 0.2em !important;
    margin-left: 8px;
  }

  .custom-color-input {
    display: flex;
    align-items: center;
    background-color: #1e1e1e !important;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;

    .hex-input {
      padding: 0.6em !important;
      border-radius: 0.4em 0 0 0 !important;
      background-color: #111111 !important;
      color: #cdb398 !important;
      caret-color: #cdb398 !important;
      width: 100% !important;
      border: none !important;
      outline: none !important;
    }

    .confirm-btn {
      transition: background-color 0.3s ease !important;
      padding: 0.6em !important;
      background-color: #2E6C30 !important;
      color: lightgreen !important;
      border: none !important;
      outline: none !important;
      border-radius: 0 0.4em 0 0 !important;
      cursor: pointer;

      &:hover {
        background-color: #38833c !important;
      }
    }
  }

}
