.chat-username-color-picker {
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 1em;
  border-radius: 0.4em !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
  z-index: 1100;

  .username-colors {
    max-width: 360px;
    min-width: 220px;
    min-height: 50px;
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
  }

  h2 {
    font-size: 1.2em !important;
    margin: 0 !important;
    text-align: center !important;
    color: var(--third-accent-color) !important;
    border-bottom: 1px dashed var(--border-color) !important;
    padding-bottom: 0.6em !important;
  }

  // Blocks for saved and generated colors
  .saved-username-colors,
  .generated-username-colors {
    margin-top: 1em;

    h3 {
      font-size: 1em !important;
      margin: 0.5em 0 !important;
      text-align: center !important;
      color: var(--first-accent-color) !important;
      border-bottom: 1px dashed var(--border-color) !important;
      padding-bottom: 0.3em !important;

      .counter {
        font-size: 0.8em !important;
        color: var(--fourth-accent-color) !important;
        margin-left: 0.5em !important;
      }
    }
  }

  // Styling for generated entries when disabled.
  .generated-username-colors .username-entry.disabled-entry {
    pointer-events: none;
    opacity: 0.2;
  }

  .username-entry {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0.3em;
    border-bottom: 1px dashed var(--border-color);

    &:last-child {
      border-bottom: none;
    }

    .username {
      flex: 1;
      filter: var(--username-filter) !important;
    }

    .color-box {
      cursor: pointer !important;
      border-radius: 0.2em !important;
      margin-left: 1em;
      padding: 0.6em;
      font-size: 0.8em;
      font-family: monospace;
      filter: var(--username-filter) !important;
    }

    input[type="color"] {
      display: none !important;
    }
  }

  .entry-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 0.2em !important;
    margin-left: 8px;
  }

  .remove-all-btn {
    background-color: color-mix(
      in srgb,
      var(--second-accent-color) 40%,
      var(--background-color) 60%
    ) !important;
  }

  .remove-all-btn svg {
    stroke: var(--second-accent-color) !important;
  }

  .remove-btn,
  .edit-btn {
    filter: var(--username-filter) !important;
  }

  .add-btn,
  .import-btn,
  .export-btn {
    background-color: color-mix(
      in srgb,
      var(--first-accent-color) 40%,
      var(--background-color) 60%
    ) !important;
  }

  .load-btn {
    background-color: color-mix(
      in srgb,
      var(--fourth-accent-color) 40%,
      var(--background-color) 60%
    ) !important;
  }

  .add-btn svg,
  .import-btn svg,
  .export-btn svg {
    stroke: var(--first-accent-color) !important;
  }

  .load-btn svg {
    stroke: var(--fourth-accent-color) !important;
  }

  .confirmation {
    display: flex;
    align-items: center;
    background-color: var(--background-color) !important;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;

    .input-field {
      padding: 0.6em !important;
      background-color: var(--highlight-color);
      color: var(--main-text-color);
      caret-color: var(--main-text-color);
      width: 150% !important;
      border: none !important;
      outline: none !important;
    }

    .field-btn {
      width: 50%;
      padding: 0.6em;
      border: none !important;
      outline: none !important;
      cursor: pointer;
      transition: filter 0.3s ease;

      &:hover {
        filter: blur(1.2);
      }
    }

    .confirm-btn {
      border-radius: 0 0.4em 0 0 !important;
      background-color: var(--first-accent-color) !important;
      color: color-mix(
        in srgb,
        var(--first-accent-color) 20%,
        var(--background-color) 80%
      ) !important;
    }

    .cancel-btn {
      border-radius: 0.4em 0 0 0 !important;
      background-color: var(--second-accent-color) !important;
      color: color-mix(
        in srgb,
        var(--second-accent-color) 20%,
        var(--background-color) 80%
      ) !important;
    }
  }
}
