.events-panel {
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  background-color: var(--background-color);
  border: 1px solid var(--border-color) !important;
  padding: 1em;
  border-radius: 0.4em !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
  z-index: 1100;

  h2 {
    font-size: 1.2em !important;
    margin: 0 !important;
    text-align: center !important;
    color: var(--third-accent-color) !important;
    border-bottom: 1px dashed var(--border-color) !important;
    padding-bottom: 0.6em !important;
  }

  .events-list {
    max-width: 90vw;
    max-height: 70vh;
    min-width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .list-item {
      display: flex;
      font: 500 0.9em "Montserrat", sans-serif;
      color: black;
      border-radius: 0.2em !important;
      padding: 0.5em;
      gap: 0.5em;
      cursor: pointer;

      .event-icon svg,
      .timestamp {
        filter: brightness(0.4);
      }

      &.new-event:not(.old-event) {
        margin-top: 2em;

        & + .list-item.new-event:not(.old-event) {
          margin-top: 0;
        }
      }
    }
  }

  .clear-events-btn {
    position: absolute !important;
    top: 0.5em !important;
    right: 1em !important;
    cursor: pointer;
    padding: 0.6em;
    background-color: var(--second-accent-color) !important;
    border: none;
    border-radius: 0.2em !important;
    filter: brightness(1);
    transition: filter 0.3s ease;

    svg {
      stroke: color-mix(
        in srgb,
        var(--second-accent-color) 20%,
        var(--background-color) 80%
      ) !important;
    }

    &:hover {
      filter: brightness(1.2);
    }
  }
}
