.help-panel {
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-height: 70vh !important;
  min-width: 350px !important;
  width: fit-content;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: var(--main-background-color) !important;
  border: 1px solid var(--border-color) !important;
  padding: 1em;
  border-radius: 0.4em !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  color: var(--main-text-color) !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 1100;

  .help-header {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
    color: var(--secondary-accent-color) !important;
  }

  .help-section-header {
    margin-top: 0 !important;
    margin-bottom: 1.5em !important;
    font-size: 1.5em !important;
    text-align: center;
    color: var(--secondary-accent-color) !important;
  }

  .help-section-subheader {
    margin: 0.8em 0 1.2em 1em;
    font-size: 0.9em;
    color: var(--third-accent-color) !important;
    font-weight: normal;
    text-align: left;
  }

  .help-list {
    list-style-type: none;
    padding-left: 0;

    .help-list-item {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 0.3em;
      border-bottom: 1px dashed var(--border-color) !important;

      &:last-child {
        border-bottom: none;
      }

      .help-hotkey {
        white-space: nowrap !important;
        width: fit-content;
        display: flex;
        color: var(--hotkey-label-text-color) !important;
        font-family: monospace;
        background-color: var(--hotkey-label-background-color) !important;
        border: 1px solid var(--hotkey-label-border-color) !important;
        border-left: 3px solid var(--hotkey-label-border-color) !important;
        border-radius: 0 0.2em 0.2em 0 !important;
        padding: 2px 4px;
        margin-right: 1em;
      }
    }
  }
}

@media (max-width: 768px) {
  .help-panel {
    top: 2em !important;
    transform: translate(-50%, 0) !important;
    max-height: 80vh !important;

    .help-section-header {
      margin-bottom: 1em !important;
      font-size: 1em !important;
    }

    .help-section-subheader {
      margin: 0.5em 0 1em 1em !important;
      font-size: 0.8em !important;
    }

    .help-hotkey {
      margin-right: 0 !important;
      margin-bottom: 0.5em !important;
    }

    .help-list-item {
      font-size: 0.9em !important;
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }
}
