.ignored-users-panel {
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  background-color: var(--background-color);
  border: 1px solid var(--border-color) !important;
  padding: 1em;
  border-radius: 0.4em !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
  z-index: 1100;

  .ignored-users-list {
    max-width: 360px;
    min-width: 220px;
    min-height: 50px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .ignored-users-input-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .ignored-users-input {
      flex: 1;
      padding: 0.6em;
      border: none !important;
      border-radius: 0.4em 0 0 0 !important;
      background-color: var(--highlight-color);
      color: var(--main-text-color);
      caret-color: var(--main-text-color);
      outline: none !important;
    }

    .ignored-users-add-btn {
      padding: 0.6em;
      background-color: var(--first-accent-color) !important;
      color: color-mix(
        in srgb,
        var(--first-accent-color) 20%,
        var(--background-color) 80%
      ) !important;
      border: none !important;
      outline: none !important;
      border-radius: 0 0.4em 0 0 !important;
      cursor: pointer;
      transition: filter 0.3s ease;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }

  .ignored-users-list {
    margin-top: 2em;

    h2 {
      font-size: 1.2em !important;
      margin: 0 !important;
      text-align: center !important;
      color: var(--third-accent-color) !important;
      border-bottom: 1px dashed var(--border-color) !important;
      padding-bottom: 0.6em !important;
    }
  }

  .ignored-user-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em;
    border-bottom: 1px dashed var(--border-color) !important;

    .username {
      flex: 1;
      color: var(--main-text-color) !important;
    }

    .remove-btn {
      cursor: pointer;
      padding: 0.6em;
      background-color: var(--second-accent-color) !important;
      border: none;
      border-radius: 0.2em !important;
      filter: brightness(1);
      transition: filter 0.3s ease;

      svg {
        stroke: color-mix(
          in srgb,
          var(--second-accent-color) 20%,
          var(--background-color) 80%
        ) !important;
      }

      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}

.field-error {
  background-color: var(--second-accent-color) !important;
  color: color-mix(
    in srgb,
    var(--first-accent-color) 20%,
    var(--background-color) 80%
  ) !important;
  caret-color: color-mix(
    in srgb,
    var(--first-accent-color) 20%,
    var(--background-color) 80%
  ) !important;
  transition: background-color 0.5s ease;
}
