.themes-panel {
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-height: 70vh !important;
  max-width: 400px !important;
  width: fit-content;
  scrollbar-width: none;
  background-color: var(--main-background-color);
  border: 1px solid var(--border-color);
  padding: 1em;
  border-radius: 0.4em !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1100;

  h2 {
    font-size: 1.2em !important;
    margin: 0 !important;
    text-align: center !important;
    color: var(--secondary-accent-color) !important;
    border-bottom: 1px dashed var(--border-color) !important;
    padding-bottom: 0.6em !important;
  }

  h3 {
    font-size: 1em !important;
    margin: 0.5em 0 !important;
    text-align: center !important;
    color: var(--third-accent-color) !important;
    border-bottom: 1px dashed var(--border-color) !important;
    padding-bottom: 0.3em !important;

    .counter {
      font-size: 0.8em !important;
      color: var(--secondary-accent-color) !important;
      margin-left: 0.5em !important;
    }
  }

  .dark-themes,
  .light-themes {
    margin-top: 1em;

    .theme-button {
      display: flex;
      width: 100%;
      padding: 0.5em;
      margin: 0.5em 0;
      background-color: var(--secondary-background-color);
      color: var(--main-text-color);
      border: none !important;
      border-radius: 0.2em !important;
      text-align: left;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--main-accent-color);
        color: var(--main-background-color);
      }

      &.active-theme {
        background-color: var(--main-accent-color);
        color: var(--main-background-color);
      }
    }
  }
}
